<div class="header">
	<div class="name-logo">
		<h1>
			<a href="/"><img alt="Folyo" src="./images/folyo-logo.png"></a>
		</h1>
	</div>
	
	<div class="explainer">
		<h2>One great freelance project posted every day.</h2>
		
		
		
		<div style="display:grid; grid-template-columns: 1fr 1fr; 
		grid-column-gap: 1px;
		align-items: center; padding: 0; margin: 1.5em auto 1.5em; max-width: 500px; justify-items: center; background-color:#e2e2e2;">
		
			<div style="width:100%;background-color:#fff; padding: 0 0 1em; text-align:center;">
				<p style="color:#717171; margin: 1em 0 .75em;">Delivered Weekly:</p>
				<a class="button" href="https://www.getdrip.com/forms/24047804/submissions/new">Via email</a>
			</div>
			
			<div style="width:100%;background-color:#fff; padding: 0 0 1em; text-align:center;">
				<p style="color:#717171; margin: 1em 0 .75em;">Delivered Daily:</p>
				<a class="button" href="http://twitter.com/yofolyo">Via twitter</a>
			</div>	
		</div>
		
	</div>
</div>