.header {
	display: grid;
	padding: 1.5em 2em 1.5em;
	vertical-align: middle;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.header .name-logo h1 a img {
	max-width: 150px;
}

.header .name-logo h1 a {
	margin: 0 auto;
	text-decoration: none;
	color: #222;	
}

.header h2, .header h3, .header a {
	font-weight: 400;
	color: #717171;
	margin: .5em 0;
}

.header h2 {
	font-size: 150%;
}

.header h3 {
	font-size: 110%;
}

a.button {
	font-size: 80%;
	padding: .25em .5em .3em;
	background-color: #eee;
	border:1px solid #e2e2e2;
	text-decoration: none;
	border-radius: 5px;
	margin-bottom: 2em;
	color:#333;
}