
/* Font families */
$body-font: "europa", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

body {
	font-family: $body-font;
}

h1, h2 {
	font-weight: 700;
	font-style: normal;
}